*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 24px;
}

.scan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scan-placeholder{
    border: 2px solid #5c0f47;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;;
}


/* lottie-player{
    width: 120px;
    height: 120px;
} */