*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px 24px;
}

.scan-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#loading{
    width: 300px
}



