.scanner {
  background-image: url('../assets/Tag.jpeg');
  background-size: cover;
  width: 30%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanner video {
  /*  transform: scaleX(-1); flip the video */
  width: 30%;
  border-radius: 10px;
  height: 400px;
  position: absolute;
  border: 5px solid black;
  padding: 0px;
  background-color: black;
}

.scanner canvas {
  /* border: 2px solid black; */
  height: 0;
}

.drawingBuffer {
  border-radius: 10px;
  height: 200px;
  width: 200px; 
  position: absolute;
}

h4 {
  display: flex;
  justify-content: left;
}
.img sc-AykKE.fWwLwL {
  width: 0 auto; 
}
