.scanner {
  background-image: url('../assets/Tag.jpeg');
  background-size: cover;
  width: 60%;
  margin: 0 auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanner video {
  /*  transform: scaleX(-1); flip the video */
  width: 70%;
  border-radius: 10px;
  height: 700px;
  position: absolute;
  margin-top: 50px;
}

.scanner canvas {
  /* border: 2px solid black; */
  height: 0;
}

.drawingBuffer {
  background-image: url('../assets/Tag.jpeg');
  border-radius: 10px;
  width: 700px;
  height: 700px;
  /* z-index: -1; */
}

.img {
  width: 220px;
}
/* .sc-AykKE {
  font-size: 16px;

} */