.scanner {
  background-image: url('../Assets/food.jpg');
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.scanner video {
  transform: scaleX(-1);
  width: 30%;
  border-radius: 10px;
  margin-right: 100px;
}

.scanner canvas {
  height: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

}

.button {
  background: #bb2d4a;
  border-radius: 50%;
  background-size: cover;;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 140px;
  height: 140px;
  margin: 10px;
  transition: all 0.5;
  cursor: pointer; 
  position: absolute;
  bottom: 400px;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 375px) {

  .scanner {
    height: 700px;
  }

  .button {
    height: 90px;
    width: 90px;
    font-size: 12px;
    bottom: 550px;;
    
  }

  .scanner video {
    width: 60%;
    margin-right: 80px;
    margin-left: 50px;
    align-content: center;
  }
  
}

