.scanner {
  background-image: url('../Assets/food.jpg');
  background-size: cover;
  width: 80%;
  margin: 0 auto;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
position: relative;
}

.scanner video {
  transform: scaleX(-1);
  width: 40%;
  border-radius: 10px;
  margin: 60px;
}

.scanner canvas {
  height: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

}



.button {
background: #bb2d4a;
border-radius: 50%;
background-size: cover;;
display: inline-block;
border: none;
padding: 20px;
width: 140px;
height: 140px;
margin: 10px;
transition: all 0.5;
cursor: pointer; 
position: absolute;
bottom: 400px;
font-size: 18px;
font-weight: 700;

}

.starting-camera {
  text-align: center;

}

