.scanner {
  background-image: url('../assets/Tag.jpeg');
  background-size: cover;
  width: 30%;
  margin: 0 auto;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scanner video {
  /*  transform: scaleX(-1); flip the video */
  width: 30%;
  border-radius: 10px;
  height: 400px;
  position: absolute;
  border: 5px solid black;
  padding: 0px;
  background-color: black;
}

.scanner canvas {
  /* border: 2px solid black; */
  height: 0;
}

.drawingBuffer {
  /* background-image: url('../assets/Tag.jpeg'); */
  border-radius: 10px;
  height: 200px;
  width: 200px; 
  position: absolute;
  margin-top: 30px;
  /* z-index: 1; */
}

h4 {
  display: flex;
  justify-content: left;
  /* align-items: left;
  flex-direction: column;
  width: 40%;
  text-align: center;
} */
}
.img sc-AykKE.fWwLwL {
  width: 0 auto; 
}
/* .sc-AykKE {
  font-size: 16px;

} */