.scanner {
  margin: 0 auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner video {
  width: 80%;
  border-radius: 10px;
}

.scanner canvas {
  height: 0;
}

@media (min-width: 700px) {
  .scanner video {
    width: 50%;
  }
}
