.scanner {
  background: transparent;
  max-width: 70%;
  margin: 0 auto;
  max-height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.scanner video {
  width: 80%;
  border: 5px solid black;
}

.scanner canvas {
  height: 0;
}