header{
    background: #5c0f47;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 20px 12px 12px 12px;
    justify-content: flex-start;
    height: 80px;

}

header button{
    padding: 2px;
    background: #5c0f47;
    border: 0px solid #a3538d;
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

header h1{
    margin-left: 50px;
    color: #a3538d;
    position: absolute;
}

.hamburger-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header button div{
    border: 2px solid #ffd7d6;
    margin: 2px 0 2px 0;
    width: 28px;
    height: 2px;
}

header button:active{
    border: 1px solid black;
}

header button:focus{
    border: 1px solid black;
}

.menu-container{
    width: 40px;
}

.menu{
    /* display: none; */
    /* background: #f1f1f1; */
    position: relative;
    top: 100px;
    left: -35px;
    z-index: 5;
    color: #5c0f47;
    border-radius: 2px;
    /* box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12); */
    width: 200px;
    background: #ffd7d6;
    /* padding: 0 2px 2px 0; */
}

.menu-container:hover .menu{
    display: inline-block;
}

/* .menu-container:active .menu{
        display: inline-block;
} */

.menu p{
    padding: 7px 4px 7px 4px;
    font-size: 18px;
    /* border-bottom: 1px solid #5c0f47; */
    /* margin: 5px 0 5px 0; */
}

.menu p:hover{
    background-color: #FFF;
    /* padding: 7px 4px 2px 4px; */
    padding: 7px 4px 7px 4px;
    /* margin: 5px 0 5px 0; */
}

.menu-button{
    color: #5c0f47;
    background: none;
    font-size: 18px;
    padding: 7px 4px 7px 0;
    margin: 0 0 0 4px;
    width: 50px;
    
}
