.headerInfo h1 {
  display: inline-block;
  /* padding: 30px; */
  color: darkslategray;
}

.headerContainer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: auto;
  height: 120px;
  background-color: #bceaef;
  align-items: center;
  justify-content: space-between;
  place-content: center;
  }

.hamburger {
  display: flex;
  width: 25px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  /* object-position: left; */
  margin-top: 0px;
  /* margin-left: 20px; */
  padding-left: 20px;
}
/* lines for the hamburger menu, same width as the container, but thinner */
.hamburger div {
  width: 30px;
  height: 3px;
  background-color: darkslategray;
  border-radius: 5px;
  margin-right: 30px;
}
.headerInfo {
  color: white;
  align-content: center;
  /* padding-top: 10px; */
  /* padding-left: 40px;
  padding-right: 40px; */
  justify-content: center;
  align-self: center;
  /* margin-left: 25%; */
  /* background: black;
  height: 80px; */
  display: flex;
  flex-direction: row;
  font-weight: bold;
  padding: 0px 50px;
}
.headerNavigation {
  /* color: white; */
  color: darkslategray;
  justify-content: space-evenly;
  display: inline-block;
  text-decoration: none;
  /* padding-right: 10px; */
  /* margin-right: 20px; */
  flex-direction: row;
  font-weight: bolder;
}

.sc-AykKH.ePXwWz {
  padding-bottom: 30px;

}