
.result {
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: column;
}

.product-wrapper {
  margin-right: 70px;
  width: 200px;
}

.product-name {
  font-size: 40px;
  font-weight: normal;
}

.ingredients {
  font-size: 20px;
  font-weight: normal;

}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.front-image {
  border-radius: 10%;
  margin: 30px;
  width: 80%;
  align-self: flex-end;
}

.not-found {
  font-size: 30px;
  font-weight: normal;
  position: absolute;
}

@media (max-width: 375px) {

.result {
  width: 50%;
  margin-right: 20px;
}
  
.product-wrapper {
  margin-left: 200px;
  margin-right: 0;
}

}