.button {
  padding: 1em;
  border: 0.25em solid;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    background: #fff;
  }

  &::before {
    top: -0.3em;
    bottom: -0.3em;
    left: 1em;
    right: 1em;
  }

  &::after {
    left: 0.3em;
    right: -0.3em;
    top: 1em;
    bottom: 1em;
  }
  .buttonText {
    position: relative;
    z-index: 1;
  }
}
