.scanner-section {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanner-message {
  flex: 0;
  text-align: center;
  padding: 1rem;
}

.scanner {
  align-items: center;
  background-color: teal;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.scanner video {
  margin: 0 auto;
}

.scanner canvas {
  height: 0;
}