.scanner {
  margin: 30px;
}

.drawingBuffer {
  width: 0;
  height: 0;
}

.camera-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

video {
  max-width: 350px;
}

.button-cancel {
  background: #610345;
  color: white;
  font-size: 22px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 20px;
}

.button-cancel:hover {
  opacity: 0.7;
}

@media (min-width: 668px) {
  .button-container {
    flex-direction: row;
  }
  video {
    max-width: 500px;
  }
}