.scanner{
    width: 100px;
    height: 100px;
    
}

video{
    height: 200px;
    width: 300px;
    border: 2px solid #5c0f47;
    border-radius: 25px;
    /* padding: 12px; */
    /* position: relative; */
    background: #5c0f47;
    position: absolute;
    top: 114px;
    left: 38px;
}

.scan-placeholder{
    border: 2px solid #eb98bf;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.drawingBuffer{
    width: 0;
    height: 0;
}


lottie-player{
    width: 150px;
}

/* .scan-placeholder{
    border: 2px solid #5c0f47;
    border-radius: 6px;
    height: 150px;
    width: 100px;
} */