.scanSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.startScanning {
    background-color: #765285 ;
    color: white;
    border: White;
    margin: 1.2rem;
    font-size: 1rem;
    font-family: 'Muli', sans-serif;
}


h3 {
    margin: -10px 20px 0px 20px;
}