.footer-container {
  background-color: #698474;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.footer-container h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

.footer-container p {
  letter-spacing: 1px;
}

.footer-container a {
  color: #e5e4cc;
}

@media only screen and (max-width: 601px) {
  .footer-container {
    width: 100%;
    min-height: 100%;
    height: auto;
  }
}