.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f8f3d4;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

.landing-page .get-started-btn {
  height: 50px;
  width: 200px;
  font-size: 15px;
  color: #faf5e4;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  background-color: #00b8a9;
  margin-bottom: 30px;
}

.landing-page .get-started-btn:hover {
  color: #00b8a9;
  background-color: #faf5e4;
  border: 2px solid #028e82;
}

.landing-page img {
  width: 40%;
  filter: brightness(70%);
}