nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #698474;
  padding: 10px;
  height: auto;
  border-radius: 0 20px 0px 0px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
}

nav .navbar-btn {
  height: 50px;
  width: 80%;
  font-size: 18px;
  color: #e5e4cc;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  background-color: transparent;
  border: 1px solid #bac7a7;
}

nav .navbar-btn:hover:not([disabled]) {
  color: #698474;
  background-color: #e5e4cc;
  border: 1px solid #698474;
  cursor: pointer;
}

nav .navbar-btn:disabled {
  color: rgb(73, 71, 71);
  border: 1px solid rgb(73, 71, 71);
  cursor: default;
}