nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #00b8a9;
  padding: 10px;
  height: auto;
  border-radius: 0 20px 0px 0px;
  -moz-border-radius: 0 0 20px 20px;
  -webkit-border-radius: 0 0 20px 20px;
}

nav .navbar-btn {
  height: 50px;
  width: 80%;
  font-size: 15px;
  color: #faf5e4;
  border-radius: 5px;
  cursor: pointer;
  justify-self: center;
  background-color: transparent;
  border: 1px solid #c6f1d6;
}

nav .navbar-btn:hover:not([disabled]) {
  color: #00b8a9;
  background-color: #faf5e4;
  border: 1px solid #028e82;
  cursor: pointer;
}

nav .navbar-btn:disabled {
  color: gray;
  border: 1px solid gray;
}