.product-image {
  flex-grow: 1;
  display: flex;
  height: 300px;
  overflow: hidden;
  justify-self: center;
  justify-content: center;
}

.product-image img {
  height: 90%;
  mix-blend-mode: multiply;
  align-self: center;
}