.product-info {
  justify-self: stretch;
  height: 85px;
  grid-column: 1 / span 2;
  padding: 0px 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-info .nutrient {
  padding: 5px 15px 5px 15px;
}

.nutrient-title {
  font-weight: bold;
  font-size: 22px;
}

@media only screen and (max-width: 601px) {
  .product-info {
    grid-column: 1;
    height: 60px;
    padding: 1px 0;
    margin-bottom: 3px;
  }
  .product-info .nutrient {
    padding-left: 0px;
    padding-right: 0px;
  }
  .nutrient, .nutrient-title {
    font-weight: bold;
    font-size: 15px;
  }
  .product-info .nutrient {
    padding: 0px 0px;
  }
}