.product {
  height: auto;
}

.product .title {
  text-align: center;
  margin: 0;
  padding: 15px 20px 10px 20px;
  color: #1fab89;
  text-shadow: 1px 1px 2px #000;
  -moz-text-shadow: 1px 1px 2px #000;
  -webkit-text-shadow: 1px 1px 2px #000;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
}