.product-diagram {
  flex-grow: 1;
  min-height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  justify-self: center;
}

.product-diagram .rotate {
  top: -10px;
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(270deg);
}

.product-diagram .diagram-title {
  position: relative;
  top: 10px;
}