ul {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  padding: 0;
  font-style: italic;
}


.nutrition-card {
  box-shadow: 0 10px 40px #ff7c7c, 0 0 0 20px #ffffffeb;background-color: #ff7575;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 80%;
  position: absolute;
  top: 65%;
  left:25%;
  text-align: center;
  margin: 0 auto;
  text-transform: capitalize;
  color: rgb(255, 255, 255);
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.product-name {
  color: white;
  border-bottom: 0.2px solid rgba(202, 200, 200, 0.459);
  padding: 10px 0;
  background: rgba(240, 134, 134, 0.678);
  font-family: 'Raleway', sans-serif;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  font-style: normal;
  font-family: 'Raleway', sans-serif;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.title-and-pic li {
  text-align: center;
}

.ingredient-list li {
  text-align: left;
  border-bottom: 1px rgba(201, 183, 195, 0.753) dotted;
  padding-left: 10px;
  width: 80%;
  margin: 0 auto; 
}


@media only screen and (min-width: 800px) {
 .nutrition-card {
   width: 50%;
 }
}
