ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  padding: 0;
  font-style: italic;
  
}
.div{
  display:flex;
  justify-content: center;
}

.nutrition-card {
box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.14);
background: white;
border-radius: 6px;
margin-bottom: 20px;
width: 80%;
position: absolute;
top: 65%;
left:25%;
text-align: center;
margin: 0 auto;
text-transform: capitalize;
color: rgb(92, 91, 91);
padding-bottom: 20px;
margin-bottom: 30px;
}

.product-name {
  color: rgb(66, 65, 65);
  border-bottom: 0.2px solid rgb(202, 200, 200);
  padding: 10px 0;
  background: rgba(190, 190, 190, 0.322);
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 2px;
  font-style: normal;
  font-family: 'Roboto', sans-serif;
  
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.title-and-pic li {
  text-align: center;
}

.ingredient-list li {
  text-align: left;
  border-bottom: 1px rgba(201, 183, 195, 0.753) dotted;
  padding-left: 10px;
  width: 80%;
  margin: 0 auto;
  
}


@media only screen and (min-width: 800px) {
 .nutrition-card {
   width: 50%;
 }
}
